<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car details</title>
</head>
<body>
<a th:href="@{'/cars/edit/' + ${car.id}}">EDIT Car</a><br>
<a th:href="@{'/cars/delete/' + ${car.id}}">DELETE Car</a><br>
<b>SPZ:</b><span th:text="${car.spz}"></span><br>
<b>Color:</b><span th:text="${car.color}"></span><br>
<b>Tank Volume:</b><span th:text="${car.tankVolume}"></span><br>
<b>Number of Seats:</b><span th:text="${car.numberOfSeats}"></span><br>

</body>
</html>