<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Driver details</title>
</head>
<body>
    <a th:href="@{'/drivers/edit/' + ${driver.id}}">EDIT Driver</a><br>
    <a th:href="@{'/drivers/delete/' + ${driver.id}}">DELETE Driver</a><br>
    <b>Name:</b><span th:text="${driver.name}"></span><br>
    <b>Age:</b><span th:text="${driver.age}"></span><br>
    <b>Salary:</b><span th:text="${driver.salary}"></span><br>
</body>
</html>