<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skaut | Výpravy</title>
    <link th:href="@{/styles/expedition/expedition.css}" rel="stylesheet" />
    <link th:href="@{/styles/fragment.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments :: navigation"></div>
<div class="wrapper">
    <header>
        <h1>Výpravy</h1>
        <a th:href="@{'/expeditions/create'}" class="add-button">
            Přidat novou výpravu
        </a>
    </header>
    <div class="card-container">
        <div class="card" th:each="expedition: ${expeditions}">
            <p class="card-text" th:text="${expedition.name}">Čac začátku</p>
            <p class="card-text" th:text="${expedition.description}">Lokace</p>
            <a th:href="@{'/expeditions/detail/' + ${expedition.id}}">Zobrazit detaily</a>
        </div>
    </div>
</body>
</html>