<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Skaut | Přihlášení</title>
</head>
<body>

<h2>Přihlášení</h2>

<form th:action="@{'/perform_login'}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required="required"/>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required="required"/>
    </div>

    <div>
        <button type="submit">Login</button>
    </div>

    <div>
        <p th:if="${param.logout}" style="color: green;">You have been logged out successfully!</p>
        <p th:if="${param.error}" style="color: red;">Invalid username or password.</p>
    </div>
</form>

</body>
</html>