<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skaut | Detail Schůzky</title>
    <link th:href="@{/styles/meeting/meetingDetail.css}" rel="stylesheet" />
    <link th:href="@{/styles/fragment.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments :: navigation"></div>
<div class="wrapper">
    <header>
        <h1>Detail schůzky</h1>
    </header>
    <div class="container">
        <h2>Informace o schůzce</h2>
        <div class="meeting-details">
            <p><strong>Lokace:</strong> <span th:text="${meeting.location}">Místo konání</span></p>
            <p><strong>Datum:</strong> <span th:text="${#dates.format(meeting.date, 'dd. MM. yyyy')}">Datum schůzky</span></p>
            <p><strong>Čas:</strong> <span th:text="${meeting.time}">Čas schůzky</span></p>
            <h2>Účastníci:</h2>
            <ul>
                <li th:each="user : ${users}" th:text="${user.username}">Uživatel</li>
            </ul>

        </div>
        <div class="button-group">
            <a href="#" th:href="@{'/meetings/edit/' + ${meeting.id}}" class="edit-btn">Upravit schůzku</a>
            <a href="#" th:href="@{'/meetings/delete/' + ${meeting.id}}" class="delete-btn" onclick="return confirm('Opravdu chcete smazat tuto schůzku?');">Smazat schůzku</a>
        </div>
    </div>
</div>
</body>
</html>